/* common */
body{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}
img{
    display: block;
}
a{
    text-decoration:none;
    color:#333;
}
/*common*/
.btn{
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
}
.btn:hover{
    color: #fff;
    background-color:#333;
    border-color: #333;
}
.btn.btn--brown{
    border: 2px solid #592B18;
    color:#592B18;
}
.btn.btn--gold{
    border-color: #D9AA8A;
    color:#D9AA8A;
}
.btn.btn--gold:hover{
    border-color: #D9AA8A;
    background-color: #D9AA8A;
    color:#fff;
}
.btn.btn--white{
    border-color: #fff;
    color:#fff;
}
.btn.btn--white:hover{
    border-color: #fff;
    background-color: #fff;
    color:#333;
}
.back-to-position{
    opacity: 0;
    transition: 1s;
}
.back-to-position.to-right {
    transform: translateX(-150px);
}
.back-to-position.to-left {
    transform: translateX(150px);
}
.show .back-to-position{
    opacity: 1;
    transform: translateX(0);
}
.show .back-to-position.delay-0{
    transition: 0s;
}
.show .back-to-position.delay-1{
    transition: .3s;
}
.show .back-to-position.delay-2{
    transition: .6s;
}
.show .back-to-position.delay-3{
    transition: .9s;
}


/* HEADER */
header{
    width:100%;
    background-color: #F6F5F0;
    border-bottom: 1px solid #c8c8c8;
    position:fixed;
    top: 0;
    z-index:9;
}
.inner{
    width: 1100px;
    margin: 0 auto;
    position:relative;
}
header .inner.hd{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .inner .inner_flex .logo img{
    width:75px;
}

header .sub-menu{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-top:10px;
}
header .sub-menu .menu{
    display:flex;
    justify-content: end;
    align-items: center;
}
header .sub-menu .menu li{
    position:relative;
}
header  .sub-menu .menu li:not(:first-child):before{
    content:"";
    width:1px;
    height:12px;
    background-color:#e5e5e5;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}
header .sub-menu .menu li a{
    color: #656565;
    font-size: 13px;
    padding:11px 16px;
}
header .sub-menu .menu li a:hover{
    color:#000;
}
header .sub-menu .search{
    position:relative;
}
header .sub-menu .search input{
    width:36px;
    height:34px;
    padding:4px 10px;
    border:1px solid #ccc;
    outline:none;
    box-sizing:border-box;
    border-radius:5px;
    color:#fff;
    background-color:#fff;
    font-size:12px;
    transition: width .4s;
    
}
header .sub-menu .search input:focus{
    width:190px;
    border-color:#669900;
}
header .sub-menu .search span{
    position: absolute;
    top: 5px;
    right:5px; 
    transition: .4s
}
header .sub-menu .search span:focus input{
    width:190px;
    border-color:#669900;
}
header .main-menu{
    display:flex;
    justify-content: end;
    align-items: center;
    position:relative;
    margin-top:10px;
}
header .main-menu .item .item-name{
    font-size:13px;
    padding:10px 20px 34px;
}
header .main-menu .item .item-name:hover {
    background-color:#2C2A29;
    color:#669900;
    border-radius:6px 6px 0 0;
}
header .main-menu .item .item-contents{
    display:none;
    

}
header .main-menu .item:hover .item-contents{
    display:block;
    position:fixed;
    right:0;
    width:100%;
    background-color:#2C2A29;
}
header .main-menu .item .item-contents >.inner{
    padding: 20px 0;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}
header .main-menu .item .item-contents > ul >li {
    width:220px;
}
header .main-menu .item .item-contents > ul >li h4{
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}
header .main-menu .item .item-contents > ul >li ul li{
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}
header .main-menu .item .item-contents > ul >li ul li:hover{
    color: #669900;
}
header .main-menu .item .contents-texture{
    padding: 26px 0;
    font-size: 12px;
    background-image: url(/images/main_menu_pattern.jpg);
}
header .main-menu .item .contents-texture h4{
    color: #999;
    font-weight: 900;
}
header .main-menu .item .contents-texture p{
    color: #64a70b;
    margin: 4px 0 14px;
}
header .badges {
    position:absolute;
    top: 132px;
    right: 12px;
}
header .badges .badge{
    border-radius:10px;
    overflow: hidden;
    margin-bottom:12px;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 15%);
    cursor: pointer;
}
/*비쥬얼*/
.visual {
    margin-top: 116px;
    background-image: url(../images/visual_bg.jpg);
    background-position: center;
    
}
.visual .inner{
    height: 646px;
}
.visual .title{
    position:absolute;
    top: 88px;
    left: -10px;
}
.visual .title .btn{
    position:absolute;
    top: 259px;
    left: 173px;
}
.visual .cup1.image{
    position:absolute;
    bottom: 0;
    right: -47px;
}
.visual .cup1.text{
    position:absolute;
    top: 38px;
    right: 171px;
}
.visual .cup2.image{
    position:absolute;
    bottom: 0;
    right: 162px;
}
.visual .cup2.text{
    position:absolute;
    top: 321px;
    right: 416px;
}
.visual .spoon{
    position:absolute;
    bottom: 0;
    right: 275px;
}
.visual .fade-in{
    opacity: 0;
}

/*notice*/
.notice .notice-line{
    position: relative;
}
.notice .notice-line .bg-left{
    width: 50%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
}
.notice .notice-line .bg-right{
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;
    position: absolute;
    top: 0;
    right: 0;
}
.notice .notice-line .inner{
    height: 62px;
    display: flex;
}
.notice .notice-line .inner .inner_left{
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
}
.notice .notice-line .inner .inner_left h2{
    color:#fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
    
}
.notice .notice-line .inner .inner_left .swiper-container{
    flex-grow: 1;
    height: 62px;
}
.notice .notice-line .inner .inner_left .swiper-container .swiper-slide{
    height: 62px;
    display: flex;
    align-items: center;
}
.notice .notice-line .inner .inner_left .swiper-container .swiper-slide a{
    color:#fff;
}
.notice .notice-line .inner .inner_left .notice-line_more{
    padding:0 15px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice .notice-line .inner .inner_left .notice-line_more span{
    color:#fff;
    font-size:30px;
}

.notice .notice-line .inner .inner_right{
    width: 40%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.notice .notice-line .inner .inner_right h2{
    font-size: 17px;
    font-weight: 700;
}
.notice .notice-line .inner .inner_right .toggle-promotion{
    width: 62px;
    height: 62px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice .promotion{
    height:693px;
    background-color:#f6f5ef;
    position:relative;
    transition: height .4s;
    overflow: hidden;
}
.notice .promotion.hide{
    height:0px;

}
.notice .promotion .swiper-container{
    width:calc(819px * 3 + 20px);
    height:553px;
    position:absolute;
    top: 40px;
    left: 50%;
    margin-left: calc((819px * 3 + 20px) / -2);
}
.notice .promotion .swiper-container .swiper-slide{
    opacity: .2;
    transition: opacity 1s;
}
.notice .promotion .swiper-container .swiper-slide-active{
    opacity: 1;
}
.notice .promotion .swiper-slide .btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.notice .promotion .swiper-pagination{
    bottom:40px;
    left:0;
    right:0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet{
    background-color:transparent;
    background: url("../images/promotion_slide_pager.png");
    width: 12px;
    height: 12px;
    margin-right:6px;
    outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child{
    margin-right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active{
    background: url("../images/promotion_slide_pager_on.png");
}
.notice .promotion .swiper-button-prev,
.notice .promotion .swiper-button-next
{
    width: 42px;
    height: 42px;
    outline: none;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.notice .promotion .swiper-button-prev{
    left:50%;
    margin-left:-480px;
}
.notice .promotion .swiper-button-next{
    right:50%;
    margin-right:-480px; 
}
.notice .promotion .swiper-button-prev:hover,
.notice .promotion .swiper-button-next:hover{
    background-color:#333;
    color:#fff;
}
.notice .promotion .swiper-button-next:after, 
.notice .promotion .swiper-button-prev:after{
    content:'';
}
.notice .promotion .material-icons{
    color:#333;
}
.notice .promotion .material-icons:hover{
    color:#fff;
}

.rewards{
    position: relative;
}
.rewards .bg-left{
    width: 50%;
    height: 100%;
    background-color: #272727;
    position: absolute;
    top: 0;
    left: 0;
}
.rewards .bg-right{
    width: 50%;
    height: 100%;
    background-color: #d5c798;
    position: absolute;
    top: 0;
    right: 0;
}
.rewards .inner{
    background-image : url("../images/rewards.jpg");
    height:241px;
}
.rewards .inner .btn-group{
    position: absolute;
    right: 0;
    bottom: 24px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}
.rewards .inner .btn-group .btn.sign-up{
    margin-right:10px;
}
.rewards .inner .btn-group .btn.sign-in{
    width:110px;
}
.rewards .inner .btn-group .btn.btn--reverse{
    background-color: #333;
    color: #FFF;
}
.rewards .inner .btn-group .btn.btn--reverse:hover{
    background-color: transparent;
    color: #333;
}
.rewards .inner .btn-group .btn.gift{
    flex:1;
    margin-top:10px;
}

/* youtube */
.youtube{
    position: relative;
    height:700px;
    overflow: hidden;
}
.youtube .youtube-area{
    width:1920px;
    position: absolute;
    left: 50%;
    margin-left:calc(1920px / -2);
    top: 50%;
    margin-top:calc(1920px * 9 / 16 / -2);
}
.youtube .youtube-area::before{
    content:'';
    display:block;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}
.youtube .youtube-cover{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    background-image: url("../images/video_cover_pattern.png");
}
#player{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.youtube .inner{
    height:700px;
}
.youtube .floating1{
    position: absolute;
    top: 50px;
    left: 0;
}
.youtube .floating2{
    position: absolute;
    top: 350px;
    left: 150px;
}


/* season product */
.season-product{
    background-image: url("../images/season_product_bg.jpg");
}
.season-product .inner{
    height: 400px;
}
.season-product .floating3{
    position: absolute;
    top: -200px;
    right: 0;
}
.season-product .text-group{
    position: absolute;
    top: 110px;
    right: 100px;
}
.season-product .text-group .title{
    margin-bottom: 10px;
}
.season-product .text-group .description{
    margin-bottom: 15px;
}

/* reserve coffee */
.reserve-coffee{
    background-image: url("../images/reserve_bg.jpg");
}
.reserve-coffee .inner{
    height:400px;
}
.reserve-coffee .reserve-logo{
    position: absolute;
    top: 110px;
    left: 0;
}
.reserve-coffee .text-group{
    position: absolute;
    top: 124px;
    left: 208px;
}
.reserve-coffee .product{
    position: absolute;
    top: 0;
    right: 0;
}

/* pick your favorite */
.pick-your-favorite{
    background-image: url("../images/favorite_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.pick-your-favorite .inner{
    padding: 110px 0;
}
.pick-your-favorite .inner .text-group{
    width: 362px;
    margin-left: 100px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.pick-your-favorite .inner img{
    margin-bottom: 40px;
}

/* reserve store */
.reserve-store{
    background-image: url("../images/reserve_store_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.reserve-store .inner{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reserve-store .medal{
    width: 334px;
    height: 334px;
    perspective: 600px;
}
.reserve-store .medal .front,
.reserve-store .medal .back{
    width: 334px;
    height: 334px;
    backface-visibility: hidden;
    transition: 1s;
    position: absolute;
}
.reserve-store .medal .front{
    transform: rotateY(0deg);
}
.reserve-store .medal:hover .front{
    transform: rotateY(180deg);
}
.reserve-store .medal .back{
    transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back{
    transform: rotateY(0deg);
}
.reserve-store .medal .back .btn{
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    margin: auto;
}

/* find store */
.find-store{
    background-image: url("../images/find_store_bg.jpg");
}
.find-store .inner{
    height: 400px;
}
.find-store .texture1{
    position: absolute;
    top: 0;
    left: 400px;
}
.find-store .texture2{
    position: absolute;
    bottom: 0;
    right: 0;
}
.find-store .picture{
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 50%);
    position: absolute;
}
.find-store .picture1{
    top: -60px;
    left: 0;
}
.find-store .picture2{
    top: 150px;
    left: 250px;
}
.find-store .text-group{
    position: absolute;
    top: 120px;
    left: 550px;
}
.find-store .text-group img{
    margin-bottom: 20px;
}
/* awards */
.awards{
    background-color: #272727;
}
.awards .inner{
    padding: 40px 0;
}
.awards .swiper-container{
    width: 100%;
    height: 40px;
}
.awards .swiper-button-prev,
.awards .swiper-button-next{
    width: 42px;
    height: 42px;
    outline: none;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: .3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.awards .swiper-button-prev::after,
.awards .swiper-button-next::after{
    content:'';
}
.awards .swiper-button-prev:hover,
.awards .swiper-button-next:hover{
    background-color: #fff;
    color: #333;

}
.awards .swiper-button-prev{
    left: -100px;
}
.awards .swiper-button-next{
    right: -100px;
}

/* footer */
footer{
    background-color: #272727;
    border-top: 1px solid #333;
}
footer .inner{
    padding: 40px 0 60px 0;
}
footer .menu{
    display:flex;
    justify-content: center;
}
footer .menu li{
    position:relative;
}
footer .menu li::before{
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
}
footer .menu li a{
    display: block;
    color: #CCC;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
}
footer .menu li a.green{
    color: #669900;
}
footer .btn-group{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
footer .btn-group .btn{
    font-size: 12px;
    margin-right: 10px;
}
footer .info{
    margin-top: 30px;
    text-align: center;
}
footer .info span{
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}
footer .copyright{
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}
footer .logo{
    margin: 30px auto 0;
}

#to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    width: 42px;
    height: 42px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}